numpy
pandas
scikit-learn
chapar
fastavro
pulsar-client[avro]

# DB
SQLAlchemy
psycopg2-binary

# WISGI
gunicorn

# Flask
flask
Flask-RESTful

requests 

jsonschema
asbool

google-api-python-client

oauth2client

#cache
dogpile.cache
redis

schema
pyyaml
arrow

#nlp tasks 
nltk

numpy

wordcloud
matplotlib
Pillow

watchtower
boto3
